@font-face {
    font-family: "Norse Bold";
    src: url('./fonts/Norse.otf') format('opentype');
}

body{
    margin: 0;
}

button{
    font-size: 1.3rem;
    border-radius:0.4rem;
    color: white;
    margin-top: 1rem;
    background-color: #596D48;
    width: 15rem;
    height: 3rem;
}

a{
    color: #596D48; 
    font-weight: 600;
}

label{
    display: block;
    width: 15rem;
}

input{
    width: 15rem;
}

.container{
    display: flex;
    justify-content: center;
}

.container2,
.container2a,
.container2b{
    margin-left: 3rem; 
    width: 65%;
}

.container2a{
    margin-top: 6rem;
}

.container2b{

    margin-top: -1.2rem; 
}

.left{
    height: 100vh;
    width: 30vw;
    position: relative;
}

.plant-image{
    position: absolute;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.banner-background{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 15vh;
    width: 100%;
    background: rgba(0,0,0,0.6);
    top: 12rem;
}

.banner-image{
    height: 15vh;
    width: 12vh;
}

.banner-text{
    color: white;
    font-size: 8rem;
    font-family: 'Norse Bold';
}


.right{
    height: 100vh;
    width: 70vw;
   /* background: red; */
}

.column-container{
    display: flex; 
    flex-direction:column;
}

.information-section,
.form-section,
.login-section {
    height: calc(100vh /3);
}

.information-section{
    background: #F9FAFB;
}

.form-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #FFFFFF;
}

.login-section{
    background: #FFFFFF;
    box-shadow: 0 -0.6em #E0E1E2; 
}

.information-text{
    font-size: 2rem;
    font-weight: 540;
    text-align: left;
    align-items: flex-end;
}

.login-haveAccount{
    font-size: 1.2rem;
}

.form-container {
    /* 
    display: flex;
    justify-content: center;
    background: red;
    gap: 100px;
    */ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    margin-top: 1rem;
}

.attribution{
    position: absolute;
    font-size: 0.9rem;
    bottom: 0.2rem;
    width: 100%;
    color: white;
    text-align: center;
}

.label-text{
    color: #343A45; 
    font-size: 1.1rem;
    font-weight: 510;
}

.container-form-left,
.container-form-right{
    width: 50%;
}

input:user-invalid{
    border-color: 1px solid red;
}